/* specific to this site */

:root
{
    /* colors */
    --accent-color: #b4def2;
    --bg-tag: #f33;
    --dim-color: #999;
    --lowlight-color: #000;
    --negative-color: #222;
    --theme-color: #040;
    --theme-highlight: #0f0;
    --theme-font-color: #fff;

    /* font sizes */
    --plain-size: 14pt;
    --h1-size: 24pt;
}

a
{
    color: var(--theme-highlight);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

code
{
    background-color: var(--lowlight-color);
    border-radius: 2pt;
    color: var(--theme-font-color);
    display: inline-block;
    padding: 2pt;
}

h1
{
    font-size: var(--h1-size);
}

h1 a
{
    color: var(--lowlight-color);
}

h2
{
    font-size: x-large;
}

h2, h3
{
    color: var(--theme-highlight);
}

li
{
    color: var(--theme-font-color);
}

ol
{
    padding-bottom: 2ex;
}

p
{
    color: var(--theme-font-color);
    padding-bottom: 1ex;
    padding-top: 1ex;
}

time
{
    color: var(--dim-color);
    font-size: large;
    font-style: italic;
}

ul
{
    padding-bottom: 2ex;
}

.container
{
    background-color: var(--negative-color);
    display: flex;
    flex-direction: column;
    font-size: var(--plain-size);
    height: 100vh;
    overflow: auto;
}

.header
{
    background-color: var(--theme-color);
    box-shadow: 0 0 15px var(--lowlight-color); 
    color: var(--lowlight-color);
    z-index: 2;
}

.highlight
{
    overflow-x: auto;
}

.h1
{
}

.icon
{
    border-radius: 50%;
    max-height: 3em;
}

.nav ul
{
    list-style: none;
}

.nav-item-active a
{
    color: #fff;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

                   

.subtitle
{

}

.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--bg-tag);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}

a[href].tag,
a[href].tag:visited {
  color: #fff;
}



.ul-posts
{
    list-style-type: none;
    padding-left: 0;
}

.ul-posts p
{
    color: var(--theme-font-color);
    display: inline; /*I am going to regret this.*/
}

.ul-posts li
{
    padding-bottom: 2ex;
}
