/* specific to this site */

:root
{
    /* colors */
    --accent-color: #b4def2;
    --dim-color: #999;
    --lowlight-color: #000;
    --negative-color: #222;
    --theme-color: #040;
    --theme-highlight: #0f0;
    --theme-font-color: #fff;

    /* font sizes */
    --plain-size: 14pt;
    --h1-size: 32pt;
}

a
{
    color: var(--theme-highlight);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

code
{
    background-color: var(--lowlight-color);
    border-radius: 2pt;
    color: var(--theme-font-color);
    display: inline-block;
    padding: 2pt;
}

h1
{
    font-size: var(--h1-size);
}

h1 a
{
    color: var(--lowlight-color);
}

h2
{
    font-size: x-large;
}

h2, h3
{
    color: var(--theme-highlight);
}

li
{
    color: var(--theme-font-color);
}

ol
{
    padding-bottom: 2ex;
}

p
{
    color: var(--theme-font-color);
    padding-bottom: 1ex;
    padding-top: 1ex;
}

time
{
    color: var(--dim-color);
    font-size: large;
    font-style: italic;
}

ul
{
    padding-bottom: 2ex;
}

.container
{
    background-color: var(--negative-color);
    display: flex;
    flex-direction: column;
    font-size: var(--plain-size);
    height: 100vh;
    overflow: auto;
}

.h1
{
    background-color: var(--theme-color);
    box-shadow: 0 0 15px var(--lowlight-color); 
    color: var(--lowlight-color);
    text-align: center;
    z-index: 2;
}

.highlight
{
    overflow-x: auto;
}

.ul-posts
{
    list-style-type: none;
    padding-left: 0;
}

.ul-posts p
{
    color: var(--theme-font-color);
    display: inline; /*I am going to regret this.*/
}

.ul-posts li
{
    padding-bottom: 2ex;
}
